<footer class="bd-footer p-3 p-md-5 mt-5 bg-light text-center text-sm-start">
  <div class="container">
    <b>Com-S 319</b> Lab 07. Express app with EJS view engine, MongoDB and AJAX.
    
  </div>
</footer>