<html>
	<%- include("./partials/head.ejs") %>
	<body>
		


		<div class="container" >

            <div class="row">
                <div class="col-1" ></div>

                
                <div class="col-10">

					<h1>319 Donations</h1>	
					<%- include("./partials/nav.ejs") %>

                    <h3> Com-S 319 Donations website!</h3>
                    <p> Donate to your favorite charity!!!</p>

					<%- include("./partials/footer.ejs") %>                   

                </div>

                <div class="col-1"></div>         

            </div>

        </div>
	</body>
</html>